header.header
    .wrap
        nav.nav
            a.header__logo.link(href="/") /.
            .header__menu
                button.header__menu_button
                p.header__menu_paragraph Menu
        h1.header__title Amazing Dude. Amazing Life.
        p.header__paragraph Welcome to the personal site of 
            strong.header__paragraph_bold John Doe. 
            | A professional skier and a musician.