main.main
    article.main__info
        section.main__info_about
            .about__photo
            .about__text
                h2.about__text_title Sed faucibus quis
                p.about__text_paragraph
                    |Fusce bibendum luctus massa, ut tincidunt lectus tincidunt in.
                    | Nulla tristique ipsum vitae lacus ullamcorper,
                    | at dictum nunc scelerisque.
        section.gallery
            ul.gallery__photo_list
                li.gallery__photo_item
                    a.gallery__photo_link.photo_1.link(href="/")
                li.gallery__photo_item
                    a.gallery__photo_link.photo_2.link(href="/")
                li.gallery__photo_item
                    a.gallery__photo_link.photo_3.link(href="/")
                li.gallery__photo_item
                    a.gallery__photo_link.photo_4.link(href="/")
            ul.gallery__photo-info_list
                li.gallery__photo-info_item
                    h2.photo-info__item_title instagram
                    p.photo-info__item_paragraph
                        |Etiam lacus dolor, tincidunt vitae nisi in,
                        | vulputate placerat odio. Pellentesque iaculis.
                    a.photo-info__item_link.link(href="/") View on instagram
                li.gallery__photo-info_item
                    a.gallery__photo-info_link.photo_5.link(href="/")
                li.gallery__photo-info_item