@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold'), local('FiraSans-Bold'),
        url('../fonts/FiraSans-Bold.woff2') format('woff2'),
        url('../fonts/FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Light'), local('FiraSans-Light'),
        url('../fonts/FiraSans-Light.woff2') format('woff2'),
        url('../fonts/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
        url('../fonts/FiraSans-Regular.woff2') format('woff2'),
        url('../fonts/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraBold'), local('FiraSans-ExtraBold'),
        url('../fonts/FiraSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/FiraSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Hair';
    src: local('Fira Sans Hair'), local('FiraSans-Hair'),
        url('../fonts/FiraSans-Hair.woff2') format('woff2'),
        url('../fonts/FiraSans-Hair.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}