@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url("../fonts/FiraSans-Bold.woff2") format("woff2"), url("../fonts/FiraSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Light"), local("FiraSans-Light"), url("../fonts/FiraSans-Light.woff2") format("woff2"), url("../fonts/FiraSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("../fonts/FiraSans-Regular.woff2") format("woff2"), url("../fonts/FiraSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url("../fonts/FiraSans-ExtraBold.woff2") format("woff2"), url("../fonts/FiraSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: "Fira Sans Hair";
  src: local("Fira Sans Hair"), local("FiraSans-Hair"), url("../fonts/FiraSans-Hair.woff2") format("woff2"), url("../fonts/FiraSans-Hair.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
.body {
  font-family: "Fira Sans", Arial, Sans-serif; }

.wrap {
  width: 1180px;
  margin: 0 auto; }

.list {
  margin: 0;
  padding: 0; }

.item {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.link {
  text-decoration: none;
  color: #000; }

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 88px; }

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-size: 60px;
  font-weight: 800; }

.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header__menu_button {
  width: 27px;
  height: 22px;
  background-color: transparent;
  background-image: url("../images/header_menu_bt.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: containe;
  border: none;
  margin-bottom: 11px; }

.header__menu_paragraph {
  text-transform: uppercase;
  font-size: 12px; }

.header__title {
  font-size: 72px;
  font-weight: 300;
  margin: 200px 0 26px 0;
  width: 480px; }

.header__paragraph {
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  width: 580px; }

.header__paragraph_bold {
  font-weight: bold; }

.main__info_about {
  display: flex;
  flex-direction: row; }

.about__photo {
  width: 50%;
  height: 500px;
  background-image: url("../images/about_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.about__text {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 113px;
  padding-left: 58px;
  background-color: #f3f1ef;
  color: #666; }

.about__text_title {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 45px; }

.about__text_paragraph {
  max-width: 530px;
  font-weight: 300;
  font-size: 36px; }

/*Main */
.gallery__photo_list,
.gallery__photo-info_list {
  display: flex;
  flex-direction: row; }

.gallery__photo_item {
  width: 25%; }

.gallery__photo_link {
  display: block;
  width: 100%;
  height: 515px;
  background-image: url("../images/gallery_photo_path.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.photo_2 {
  background-image: url("../images/gallery_photo_man.jpg"); }

.photo_3 {
  background-image: url("../images/gallery_photo_boot.jpg"); }

.photo_4 {
  background-image: url("../images/gallery_photo_montain.jpg"); }

.gallery__photo-info_item:first-child {
  width: 50%;
  padding: 124px 0 0 210px;
  box-sizing: border-box; }

.gallery__photo-info_item {
  width: 25%;
  height: 515px;
  background-color: #3f729b; }

.photo_5 {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/gallery_photo_assesories.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.photo-info__item_title {
  font-weight: bold;
  font-size: 24px;
  color: #f9f9f9;
  text-transform: uppercase;
  margin-bottom: 43px; }

.photo-info__item_paragraph {
  max-width: 530px;
  font-size: 36px;
  font-weight: 300;
  color: #f9f9f9;
  margin-bottom: 37px; }

.photo-info__item_link {
  display: block;
  width: 276px;
  height: 52px;
  border: 2px solid #e5ecf2;
  border-radius: 25px;
  font-weight: bold;
  font-size: 18px;
  color: #f9f9f9;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
